.infinite-scroll {
	display: block;
	overflow: hidden;
	overflow-x: scroll;

	.infinite-scroll-track {
		display: block;
		overflow: hidden;
	}

	.infinite-scroll-item-wrap {
		display: block;
		float: left;

	}
}